html, body {
  width: 100%;
}

h1 {
  margin: 2rem 0;
  font-size: 2rem;
  font-family: "MetropolisRegular", sans-serif;
  font-weight: bold;
  text-align: center;
}

.btn {
  display: block;
  width: 150px;
  padding: 8px 16px;
  font-family: "MetropolisRegular", sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  background-color: #394fb2;
  color: white;
  border: 1px solid #394fb2;
}
.btn.btn-outline {
  background-color: white;
  color: #394fb2;
}
.btn.btn-dark {
  background-color: #2a2a2a;
  border: 1px solid #2a2a2a;
}
.btn.btn-dark.btn-outline {
  background-color: white;
  color: #2a2a2a;
}
.btn.btn-dimmed {
  opacity: 0.25;
}

.btn-icon {
  display: block;
  padding: 6px;
  border: 0;
  color: #bbbbbb;
  background-color: white;
  transition: color 0.25s linear;
}
.btn-icon:hover {
  color: #2a2a2a;
}

select {
  padding: 8px;
  font-family: "MetropolisRegular", sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
}

.tooltip {
  display: block;
  position: absolute;
  opacity: 0;
  min-width: 150px;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.5s linear;
  padding: 8px 16px;
  border-radius: 5px;
  font-family: "MetropolisRegular", sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  color: white;
  background-color: #394fb2;
  white-space: nowrap;
}
.tooltip::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: -16px;
  transform: translateX(-50%);
  border: 8px solid;
  border-color: transparent transparent #394fb2 transparent;
}
.tooltip.visible {
  opacity: 1;
}
.tooltip.tooltip-warning {
  background-color: #e08e19;
}
.tooltip.tooltip-warning::before {
  border-color: transparent transparent #e08e19 transparent;
}
.tooltip.tooltip-error {
  background-color: #bc1d28;
}
.tooltip.tooltip-error::before {
  border-color: transparent transparent #bc1d28 transparent;
}
.tooltip.tooltip-right {
  left: 100%;
  transform: translateX(20px);
  padding: 8px 16px 8px 24px;
}
.tooltip.tooltip-right::before {
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
}
.tooltip.tooltip-right.tooltip-warning::before {
  border-color: transparent #e08e19 transparent transparent;
}
.tooltip.tooltip-right.tooltip-error::before {
  border-color: transparent #bc1d28 transparent transparent;
}
.tooltip.tooltip-right i {
  left: -10px;
}

.input-number {
  display: block;
  width: 50px;
  margin: 0 5px;
  padding: 7px 16px;
  font-family: "MetropolisRegular", sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  color: #2a2a2a;
  border: 1px solid #2a2a2a;
}
.input-number.input-wider {
  width: 65px;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.flex-right {
  margin-left: auto !important;
}

.container {
  margin: 0 auto;
  width: 1020px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.row.row-wrap {
  flex-wrap: wrap;
}

.subtitle {
  display: block;
  width: 100%;
  margin: 0 0 1.5rem;
  font-family: "MetropolisRegular", sans-serif;
  font-size: 1.25rem;
  text-align: center;
  text-transform: uppercase;
  color: #2a2a2a;
}

.subtitle-sm {
  display: block;
  width: 100%;
  margin: 0 0 0.5rem;
  font-family: "MetropolisRegular", sans-serif;
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  color: #2a2a2a;
}

.navbar-tabs {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  border-bottom: 1px solid #bbbbbb;
}
.navbar-tabs .tab {
  display: block;
  padding: 10px 20px;
  border: 1px solid transparent;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
  font-family: "MetropolisRegular", sans-serif;
  font-size: 1.125rem;
  color: #bbbbbb;
  margin-bottom: -1px;
}
.navbar-tabs .tab:hover {
  border-color: #e6e6e6;
  border-bottom-color: #bbbbbb;
  color: #2a2a2a;
}
.navbar-tabs .tab.active {
  border-color: #bbbbbb;
  border-bottom-color: white;
  color: #2a2a2a;
}

.canvas .canvas-container {
  width: 100%;
}
.canvas .btn-chart-settings {
  position: absolute;
  top: 0;
  right: -50px;
  font-size: 1.25rem;
}

.chart-settings {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  transition: left 0.5s ease-in-out;
}
.chart-settings.hidden {
  left: -100vw;
}
.chart-settings .settings {
  padding: 2rem 5rem;
  background-color: white;
}
.chart-settings .settings .row {
  margin: 1rem 0;
}
.chart-settings .settings .row-buttons {
  justify-content: center;
}
.chart-settings .settings .settings-label {
  margin-left: 1.5rem;
  padding: 8px;
  font-family: "MetropolisRegular", sans-serif;
  font-weight: bold;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #bbbbbb;
}
.chart-settings .settings .settings-label:first-of-type {
  margin: 0;
}
.chart-settings .settings button {
  margin: 1.5rem 1rem 0;
}

.control * {
  box-sizing: border-box;
}
.control .range-wrap {
  display: flex;
  margin-top: 2px;
}
.control .range-wrap button {
  margin: 0 10px;
}
.control .range-wrap .own-wrap {
  position: absolute;
  right: 0;
  width: 1020px;
  height: 80px;
  overflow: hidden;
  transition: width 0.5s ease-in-out;
}
.control .range-wrap .own-wrap.closed {
  width: 0;
}
.control .range-wrap .own-wrap .own-period {
  display: flex;
  position: absolute;
  right: 0;
  width: 1020px;
  background-color: white;
}
.control .range-wrap .own-wrap .own-period div {
  display: flex;
  flex-direction: row;
  margin: 0 5px;
}
.control .range-wrap .own-wrap .own-period div input.day, .control .range-wrap .own-wrap .own-period div input.month {
  width: 60px;
}
.control .range-wrap .own-wrap .own-period div input.year {
  width: 70px;
  margin-right: 0;
}
.control .range-wrap .own-wrap .own-period div input:first-child {
  margin-left: 0;
}
.control .range-wrap .own-wrap .own-period div:first-child {
  margin-left: 0;
}
.control .range-wrap .own-wrap .own-period div:last-child {
  margin-right: 0;
}
.control .range-wrap .own-wrap .own-period .swap {
  margin: 0 5px;
}
.control .range-wrap .own-wrap .own-period .btn {
  margin-left: 30px;
  width: 80px;
}
.control .range-wrap .own-wrap .own-period *:first-child {
  margin-left: 0;
}
.control .range-wrap .own-wrap .own-period *:last-child {
  margin-right: 0;
}
.control .range-wrap .tooltip {
  top: 50px;
}
.control .data-wrap {
  margin-top: 4rem;
}
.control .data-wrap .data-buttons {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
}
.control .data-wrap .data-buttons .btn-add {
  order: 99;
}
.control .data-wrap .data-buttons .btn {
  margin: 0 10px;
}
.control .data-wrap .data-buttons .btn .edit {
  opacity: 0;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 8px;
  transition: opacity .125s linear;
}
.control .data-wrap .data-buttons .btn:hover .edit {
  opacity: 1;
}
.control .data-edit, .control .data-add {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 350px;
  transition: height 0.25s ease-in-out;
  overflow: hidden;
}
.control .data-edit.hidden, .control .data-add.hidden {
  height: 0;
}
.control .data-edit .wrap, .control .data-add .wrap {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.control .data-edit .wrap > *, .control .data-add .wrap > * {
  margin: 10px 0;
}
.control .data-edit .wrap > *:first-child, .control .data-add .wrap > *:first-child {
  margin-top: 0;
}
.control .data-edit .wrap > *:last-child, .control .data-add .wrap > *:last-child {
  margin-bottom: 0;
}
.control .data-edit .data-label, .control .data-add .data-label {
  display: block;
  min-width: 100px;
  padding: 10px 0;
  font-family: "MetropolisRegular", sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
}
.control .data-edit select, .control .data-add select {
  width: 100%;
}
.control .data-edit button, .control .data-add button {
  width: 100%;
  margin: 0 auto;
}

/*# sourceMappingURL=styles.css.map */
